/* dashboardStyles.module.css */
.mainContainer{

  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
  overflow-y: scroll;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 16px;
  }
  
  .userDetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .userDetails p {
    margin: 8px 0;
  }
  
  .languageDetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
  }
  
  .languageDetails h3 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  
  .languageDetails p {
    margin: 8px 0;
  }
  .langItem{
    padding: 1rem;
    border-bottom: 1px solid black;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, #00C853, #B2FF59);
    
    /* border-image: linear-gradient(to right, #000 30%, transparent 30%) 100% 1; */
    
  }
  
  .resetButton {
    margin: 2rem 1rem;
    padding: 10px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    background-color: #ef1d1d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
    transition: background-color 0.3s;
  }
  
  .resetButton:hover {
    background-color: #b0280a;
  }
  