/* styles.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .moduleSelection {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .moduleLink {
    text-decoration: none;
    color: inherit;
  }
  
  .moduleCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.05);
    }
  
    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1rem;
    }
  }
  